# do not install anything extra onto the image
language: generic

# use a Mac OSX image
os: osx
# only run builds on pushes to the master branch
branches:
  only:
  - master

# send email notifications when the build changes from succeeding to broken
notifications:
  email:
    on_success: never
    on_failure: change

# run the script to download and install Unity editor
install:
  - sudo python scripts/install-unity.py 2017.2
  - brew update
  - brew install openssl
  - brew link --force openssl

# run the script for unit tests and builds
script:
  - sh scripts/test.sh
